.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*.boxes_corner (@radius: 8px 8px 8px 8px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

.boxes_shadow(@boxes_shadow: 0px 0px 2px 2px #CCCCCC)  {
  box-shadow:         @boxes_shadow;
  -webkit-box-shadow: @boxes_shadow;
  -moz-box-shadow:    @boxes_shadow;
}
*/

.page_box_blue_shadow {
  witdh: 2px;
}

.page .box-content {
  position: relative;
  padding: 20px;
  background-color: white;
  -webkit-border-radius: 8px 8px 8px 8px;
     -moz-border-radius: 8px 8px 8px 8px;
          border-radius: 8px 8px 8px 8px;
  -webkit-box-shadow: 2px 3px 2px 1px #cccccc;
     -moz-box-shadow: 2px 3px 2px 1px #cccccc;
          box-shadow: 2px 3px 2px 1px #cccccc;
}

.page .box-content a.backlink {
  float: right;
  font-size: 13px;
}

.page .tab-content a,
.page .box-content a,
.page .modal-body a {
  cursor: pointer;
}

.page .tab-content > section .collapse,
.page .box-content > section .collapse,
.page .modal-body > section .collapse {
  padding-left: 15px;
}

.page .tab-content > section .collapse section,
.page .box-content > section .collapse section,
.page .modal-body > section .collapse section {
  margin-left: -10px;
  *zoom: 1;
}

.page .tab-content > section .collapse section:before,
.page .box-content > section .collapse section:before,
.page .modal-body > section .collapse section:before,
.page .tab-content > section .collapse section:after,
.page .box-content > section .collapse section:after,
.page .modal-body > section .collapse section:after {
  display: table;
  line-height: 0;
  content: "";
}

.page .tab-content > section .collapse section:after,
.page .box-content > section .collapse section:after,
.page .modal-body > section .collapse section:after {
  clear: both;
}

.page .tab-content > section .collapse p,
.page .box-content > section .collapse p,
.page .modal-body > section .collapse p {
  padding-right: 30px;
}

.page .tab-content > section .collapse li,
.page .box-content > section .collapse li,
.page .modal-body > section .collapse li {
  padding: 0 0 0 0;
  line-height: 1.5em;
  list-style-type: none;
  background: none;
}

.page .tab-content > section .collapse li:before,
.page .box-content > section .collapse li:before,
.page .modal-body > section .collapse li:before {
  font-family: stratoiconfont;
  font-size: 16px;
  content: "\e02b";
}

.page .tab-content > section .collapse > *:first-child,
.page .box-content > section .collapse > *:first-child,
.page .modal-body > section .collapse > *:first-child {
  margin-top: 16px;
}

.page .tab-content > section .collapse div.img,
.page .box-content > section .collapse div.img,
.page .modal-body > section .collapse div.img {
  float: left;
  width: 187px;
  padding-left: 0;
  margin-top: 16px;
  margin-right: 10px;
  margin-left: 0;
}

.page .tab-content > section .collapse div.img.smaller,
.page .box-content > section .collapse div.img.smaller,
.page .modal-body > section .collapse div.img.smaller {
  width: 102px;
  height: 102px;
}

.page .tab-content > section .collapse div.img.mini,
.page .box-content > section .collapse div.img.mini,
.page .modal-body > section .collapse div.img.mini {
  width: 55px;
  height: 55px;
}

.page .tab-content > section .collapse div.img + div,
.page .box-content > section .collapse div.img + div,
.page .modal-body > section .collapse div.img + div {
  float: left;
  width: 690px;
  margin-left: 10px;
}

.page .tab-content > section section.article.long div,
.page .box-content > section section.article.long div,
.page .modal-body > section section.article.long div {
  float: left;
  width: 790px;
  margin-left: 10px;
}

.page .tab-content > section section.article:after,
.page .box-content > section section.article:after,
.page .modal-body > section section.article:after {
  display: table;
  width: 100%;
  clear: both;
  line-height: 0;
  content: "";
}

.page .tab-content > section section.article > section,
.page .box-content > section section.article > section,
.page .modal-body > section section.article > section {
  padding-left: 10px;
  margin-left: -10px;
  *zoom: 1;
}

.page .tab-content > section section.article > section:before,
.page .box-content > section section.article > section:before,
.page .modal-body > section section.article > section:before,
.page .tab-content > section section.article > section:after,
.page .box-content > section section.article > section:after,
.page .modal-body > section section.article > section:after {
  display: table;
  line-height: 0;
  content: "";
}

.page .tab-content > section section.article > section:after,
.page .box-content > section section.article > section:after,
.page .modal-body > section section.article > section:after {
  clear: both;
}

.page .tab-content > section section.article > section div.pic-big,
.page .box-content > section section.article > section div.pic-big,
.page .modal-body > section section.article > section div.pic-big {
  float: left;
  float: right;
  width: 515px;
  margin-left: 10px;
}

.page .tab-content > section section.article > section > div,
.page .box-content > section section.article > section > div,
.page .modal-body > section section.article > section > div {
  float: left;
  padding-left: 10px;
}

.page .tab-content > section section.article > section div.img + div,
.page .box-content > section section.article > section div.img + div,
.page .modal-body > section section.article > section div.img + div {
  float: left;
  width: 690px;
  margin-left: 10px;
}

.page .tab-content > section section.article > section div.img,
.page .box-content > section section.article > section div.img,
.page .modal-body > section section.article > section div.img {
  float: left;
  width: 202px;
  padding-left: 0;
  margin-top: 16px;
  margin-right: 10px;
  margin-left: 0;
  overflow: hidden;
}

.page .tab-content > section section.article > section div.img.smaller,
.page .box-content > section section.article > section div.img.smaller,
.page .modal-body > section section.article > section div.img.smaller {
  width: 102px;
  height: 102px;
}

.page .tab-content > section section.article > section div.img.mini,
.page .box-content > section section.article > section div.img.mini,
.page .modal-body > section section.article > section div.img.mini {
  width: 55px;
  height: 55px;
}

.page .tab-content > section section.article > section img.right,
.page .box-content > section section.article > section img.right,
.page .modal-body > section section.article > section img.right {
  float: right;
}

.page .tab-content > section section.article > section img.left,
.page .box-content > section section.article > section img.left,
.page .modal-body > section section.article > section img.left {
  float: left;
  margin-right: 20px;
}

.page .tab-content > section section.article > section img.rand,
.page .box-content > section section.article > section img.rand,
.page .modal-body > section section.article > section img.rand {
  border: 1px solid darkgray;
}

.page .tab-content > section section.article > section a[href$='.pdf'],
.page .box-content > section section.article > section a[href$='.pdf'],
.page .modal-body > section section.article > section a[href$='.pdf'],
.page .tab-content > section section.article > section a[href$='.zip'],
.page .box-content > section section.article > section a[href$='.zip'],
.page .modal-body > section section.article > section a[href$='.zip'] {
  padding: 0 0 1px 20px;
  margin: 0;
}

.page .tab-content > section section.article > section a[href$='.pdf'],
.page .box-content > section section.article > section a[href$='.pdf'],
.page .modal-body > section section.article > section a[href$='.pdf'] {
  background: url("/_assets_de/image/element/icon/download.gif") no-repeat scroll left center transparent;
}

.page .tab-content > section section.article > section a[href$='.zip'],
.page .box-content > section section.article > section a[href$='.zip'],
.page .modal-body > section section.article > section a[href$='.zip'] {
  background: url("/_assets_de/image/element/icon/winzip.gif") no-repeat scroll left center transparent;
}

.page .tab-content > section section.article > section .img > a[href$='.pdf'],
.page .box-content > section section.article > section .img > a[href$='.pdf'],
.page .modal-body > section section.article > section .img > a[href$='.pdf'],
.page .tab-content > section section.article > section .img > a[href$='.zip'],
.page .box-content > section section.article > section .img > a[href$='.zip'],
.page .modal-body > section section.article > section .img > a[href$='.zip'] {
  padding: 0;
  margin: 0;
  background: none;
}

.page .tab-content > section section.article > section a.right,
.page .box-content > section section.article > section a.right,
.page .modal-body > section section.article > section a.right {
  float: right;
}

.page .tab-content > section section.article section.head,
.page .box-content > section section.article section.head,
.page .modal-body > section section.article section.head {
  *zoom: 1;
  /*h2 + img + ul {
						.makeColumn(12,0);
						li{
						    background: none;
						    list-style-type: none;
						    padding: 0;
							&:before{
		                		font-family: stratoiconfont;
		                		content:'  ?  ';
		                		font-size:13px;
		            		}
						}
					}*/

}

.page .tab-content > section section.article section.head:before,
.page .box-content > section section.article section.head:before,
.page .modal-body > section section.article section.head:before,
.page .tab-content > section section.article section.head:after,
.page .box-content > section section.article section.head:after,
.page .modal-body > section section.article section.head:after {
  display: table;
  line-height: 0;
  content: "";
}

.page .tab-content > section section.article section.head:after,
.page .box-content > section section.article section.head:after,
.page .modal-body > section section.article section.head:after {
  clear: both;
}

.page .tab-content > section section.article section.head img,
.page .box-content > section section.article section.head img,
.page .modal-body > section section.article section.head img {
  display: block;
  float: right;
  margin: 20px 0 0 20px;
}

.page .tab-content > section section.article section.head div.modal_trigger,
.page .box-content > section section.article section.head div.modal_trigger,
.page .modal-body > section section.article section.head div.modal_trigger {
  float: right;
  width: 291px;
  margin: 0 20px 0px 0px;
}

.page .tab-content > section section.article section.head div.modal_trigger img,
.page .box-content > section section.article section.head div.modal_trigger img,
.page .modal-body > section section.article section.head div.modal_trigger img {
  float: none;
}

.page .tab-content > section section.article section.head div.video,
.page .box-content > section section.article section.head div.video,
.page .modal-body > section section.article section.head div.video {
  display: block;
  float: right;
  margin: 0 0 0 20px;
  overflow: auto;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.page .tab-content > section section.article section.head:after,
.page .box-content > section section.article section.head:after,
.page .modal-body > section section.article section.head:after {
  display: table;
  width: 100%;
  height: 33px;
  clear: both;
  line-height: 0;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAt8AAAACCAYAAACANbAcAAAAiklEQVR4Xu2RwQoDMRBCY/v/n7yx0OMElGJz84EkvskelgHJBWANpvhljsCPnjjf77+5/1+BD3ZtKKWUUgqDOYW/7oIev/H9vhM+3jPJBfLrYPLS9/MUbsz+krfwYc+/FT4NhINwdqcyk1JKKaVQZIu+xTnuowtv8qhZ2v0972LmQuvPTnGa/Z75AF9Lrf22OWPXAAAAAElFTkSuQmCC') no-repeat scroll center 18px transparent;
  content: "";
}

.page .tab-content > section section.article section.head h2 + img,
.page .box-content > section section.article section.head h2 + img,
.page .modal-body > section section.article section.head h2 + img {
  margin-top: -30px;
}

.page .tab-content > section section.article section.head img.rand,
.page .box-content > section section.article section.head img.rand,
.page .modal-body > section section.article section.head img.rand {
  border: 1px solid #D4D7DD;
  border-radius: 8px 8px 8px 8px;
}

.page.generic.karriere .tab-content dl.content-list,
.page.generic.karriere .box-content dl.content-list {
  padding: 10px;
}

.page.generic.karriere .tab-content .themen a[data-toggle="collapse"]:before,
.page.generic.karriere .box-content .themen a[data-toggle="collapse"]:before {
  content: "Mögliche Themen";
}

.page.generic.karriere .tab-content .themen a.collapsed:before,
.page.generic.karriere .box-content .themen a.collapsed:before {
  content: "Mögliche Themen";
}

.page.generic.karriere .tab-content .erfahrungsberichte a[data-toggle="collapse"]:before,
.page.generic.karriere .box-content .erfahrungsberichte a[data-toggle="collapse"]:before {
  content: "Erfahre weniger";
}

.page.generic.karriere .tab-content .erfahrungsberichte a.collapsed:before,
.page.generic.karriere .box-content .erfahrungsberichte a.collapsed:before {
  content: "Erfahre mehr";
}

.page.generic.karriere .tab-content .erfahrungsberichte section div.img + div,
.page.generic.karriere .box-content .erfahrungsberichte section div.img + div {
  width: auto;
}

.page.generic.karriere .tab-content .erfahrungsberichte section.article > section > section > .collapse,
.page.generic.karriere .box-content .erfahrungsberichte section.article > section > section > .collapse {
  width: 97%;
  padding-left: 5px;
  background-attachment: scroll;
  background-color: transparent;
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmM2YzZjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+");
  background-clip: border-box;
  background-origin: padding-box;
}

.page.generic.karriere .tab-content .erfahrungsberichte section.article > section > section > .large,
.page.generic.karriere .box-content .erfahrungsberichte section.article > section > section > .large {
  background-size: 1155px auto;
}

.page.generic.karriere .tab-content .erfahrungsberichte section.article > section > section > h3,
.page.generic.karriere .box-content .erfahrungsberichte section.article > section > section > h3 {
  margin: -5px 0 0 0;
}

.page.generic.karriere .tab-content .erfahrungsberichte section.article > section > section > img,
.page.generic.karriere .box-content .erfahrungsberichte section.article > section > section > img {
  float: left;
  margin: 0 10px 0 0;
}

.page.generic.karriere .tab-content .erfahrungsberichte > section > section:nth-child(1) section:nth-child(1),
.page.generic.karriere .box-content .erfahrungsberichte > section > section:nth-child(1) section:nth-child(1) {
  float: left;
  width: 440px;
  margin-left: 10px;
}

.page.generic.karriere .tab-content .erfahrungsberichte > section > section:nth-child(1) section:nth-child(2),
.page.generic.karriere .box-content .erfahrungsberichte > section > section:nth-child(1) section:nth-child(2) {
  float: left;
  width: 440px;
  margin-left: 10px;
}

.page.generic.karriere .tab-content .ausbildungsberufe a[data-toggle="collapse"]:before,
.page.generic.karriere .box-content .ausbildungsberufe a[data-toggle="collapse"]:before {
  content: "Erfahre weniger";
}

.page.generic.karriere .tab-content .ausbildungsberufe a.collapsed:before,
.page.generic.karriere .box-content .ausbildungsberufe a.collapsed:before {
  content: "Erfahre mehr";
}

.page.generic.karriere .tab-content .ausbildungsberufe section div.img + div,
.page.generic.karriere .box-content .ausbildungsberufe section div.img + div {
  width: auto;
}

.page.generic.karriere .tab-content .ausbildungsberufe section.article > section > section > .collapse,
.page.generic.karriere .box-content .ausbildungsberufe section.article > section > section > .collapse {
  width: 97%;
  padding-left: 5px;
  background-attachment: scroll;
  background-color: transparent;
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmM2YzZjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+");
  background-clip: border-box;
  background-origin: padding-box;
}

.page.generic.karriere .tab-content .ausbildungsberufe section.article > section > section > .large,
.page.generic.karriere .box-content .ausbildungsberufe section.article > section > section > .large {
  background-size: 1155px auto;
}

.page.generic.karriere .tab-content .ausbildungsberufe section.article > section > section > h3,
.page.generic.karriere .box-content .ausbildungsberufe section.article > section > section > h3 {
  margin: -5px 0 0 0;
}

.page.generic.karriere .tab-content .ausbildungsberufe section.article > section > section > img,
.page.generic.karriere .box-content .ausbildungsberufe section.article > section > section > img {
  float: left;
  margin: 0 10px 0 0;
}

.page.generic.karriere .tab-content .ausbildungsberufe > section > section:nth-child(1) section:nth-child(1),
.page.generic.karriere .box-content .ausbildungsberufe > section > section:nth-child(1) section:nth-child(1) {
  float: left;
  width: 440px;
  margin-left: 10px;
}

.page.generic.karriere .tab-content .ausbildungsberufe > section > section:nth-child(1) section:nth-child(2),
.page.generic.karriere .box-content .ausbildungsberufe > section > section:nth-child(1) section:nth-child(2) {
  float: left;
  width: 440px;
  margin-left: 10px;
}

.page.generic.karriere .tab-content .ausbildungsberufe > section > section:nth-child(3) section:nth-child(1),
.page.generic.karriere .box-content .ausbildungsberufe > section > section:nth-child(3) section:nth-child(1) {
  float: left;
  width: 440px;
  margin-left: 10px;
}

.page.generic.karriere .tab-content .ausbildungsberufe > section > section:nth-child(3) section:nth-child(2),
.page.generic.karriere .box-content .ausbildungsberufe > section > section:nth-child(3) section:nth-child(2) {
  float: left;
  width: 440px;
  margin-left: 10px;
}

.page.generic.karriere .tab-content #zusatzleistungen a[data-toggle="collapse"]:before,
.page.generic.karriere .box-content #zusatzleistungen a[data-toggle="collapse"]:before {
  content: "Erfahre weniger";
}

.page.generic.karriere .tab-content #zusatzleistungen a.collapsed:before,
.page.generic.karriere .box-content #zusatzleistungen a.collapsed:before {
  content: "Erfahre mehr";
}

.page.generic.karriere .tab-content #zusatzleistungen section div.img + div,
.page.generic.karriere .box-content #zusatzleistungen section div.img + div {
  width: auto;
}

.page.generic.karriere .tab-content #zusatzleistungen section.article > section > section > .collapse,
.page.generic.karriere .box-content #zusatzleistungen section.article > section > section > .collapse {
  width: 97%;
  padding-left: 5px;
  background-attachment: scroll;
  background-color: transparent;
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmM2YzZjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+");
  background-clip: border-box;
  background-origin: padding-box;
}

.page.generic.karriere .tab-content #zusatzleistungen section.article > section > section > h3,
.page.generic.karriere .box-content #zusatzleistungen section.article > section > section > h3 {
  margin: -5px 0 0 0;
}

.page.generic.karriere .tab-content #zusatzleistungen section.article > section > section > img,
.page.generic.karriere .box-content #zusatzleistungen section.article > section > section > img {
  float: left;
  margin: 0 10px 0 0;
}

.page.generic.karriere .tab-content #zusatzleistungen > section > section:nth-child(1) section:nth-child(1),
.page.generic.karriere .box-content #zusatzleistungen > section > section:nth-child(1) section:nth-child(1) {
  float: left;
  width: 440px;
  margin-left: 10px;
}

.page.generic.karriere .tab-content #zusatzleistungen > section > section:nth-child(1) section:nth-child(2),
.page.generic.karriere .box-content #zusatzleistungen > section > section:nth-child(1) section:nth-child(2) {
  float: left;
  width: 440px;
  margin-left: 10px;
}

.page.generic.karriere .tab-content #zusatzleistungen > section > section:nth-child(3) section:nth-child(1),
.page.generic.karriere .box-content #zusatzleistungen > section > section:nth-child(3) section:nth-child(1) {
  float: left;
  width: 440px;
  margin-left: 10px;
}

.page.generic.karriere .tab-content #zusatzleistungen > section > section:nth-child(3) section:nth-child(2),
.page.generic.karriere .box-content #zusatzleistungen > section > section:nth-child(3) section:nth-child(2) {
  float: left;
  width: 440px;
  margin-left: 10px;
}

.page.generic.karriere .tab-content #stellenangebot > section.article > section img,
.page.generic.karriere .box-content #stellenangebot > section.article > section img {
  float: left;
}

.page.generic.karriere .tab-content #stellenangebot > section.article > section .stratoicon,
.page.generic.karriere .box-content #stellenangebot > section.article > section .stratoicon {
  float: left;
}

.page.generic.karriere .tab-content #stellenangebot > section.article > section h2.job,
.page.generic.karriere .box-content #stellenangebot > section.article > section h2.job {
  float: left;
  margin: 0 0 0 15px;
}

.page.generic.karriere .tab-content #stellenangebot > section.article > section.jobbezeichnung,
.page.generic.karriere .box-content #stellenangebot > section.article > section.jobbezeichnung {
  margin: 15px 0 0 45px;
}

.page.generic.affiliate .tab-content #affiliatetexte .table tr:first-child th:first-child {
  width: 700px;
}

.page.generic.affiliate .tab-content #affiliatetexte .table tr:first-child th:nth-child(2) {
  width: 100px;
}

.page.generic.affiliate .tab-content #affiliate_praemie .table tr:first-child th:first-child {
  width: 400px;
}

.page.generic.affiliate .tab-content #affiliate_praemie .table tr:first-child th:nth-child(2) {
  width: 260px;
}

.page.generic.affiliate .tab-content #affiliate_praemie .table tbody strong {
  color: #f90;
}

.page.generic.affiliate .tab-content #affiliate_haeufige_fragen a[data-toggle="collapse"]:before {
  content: "";
}

.page.generic.affiliate .tab-content #affiliate_haeufige_fragen a.collapsed:before {
  content: "";
}

.page.generic.empfehlen-und-verdienen .box-content .table th:first-child {
  width: 170px;
  color: #000;
  color: #ffffff;
  text-align: left;
}

.page.generic.empfehlen-und-verdienen .box-content .table a {
  font-size: 12px;
  font-weight: bold;
  color: #0071B5;
  text-decoration: none;
}

.page.generic.empfehlen-und-verdienen .box-content .table td:first-child {
  width: 290px;
}

.page.generic.empfehlen-und-verdienen .box-content a[data-toggle="collapse"]:before {
  content: "";
}

.page.generic.empfehlen-und-verdienen .box-content > section > section.article > section {
  padding-top: 5px;
}

.page.generic.empfehlen-und-verdienen .box-content > section > section.article > section div {
  float: none;
  padding-left: 0;
}

.page.generic.empfehlen-und-verdienen .box-content > section > section.article > section div .table {
  margin-top: 0;
  margin-bottom: 0;
}

.page.generic.empfehlen-und-verdienen .box-content > section > section.article > section div .table td:nth-child(1) {
  width: 360px !important;
}

.page.generic.empfehlen-und-verdienen .box-content .head section {
  float: left;
  width: 285px;
  margin-left: 10px;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
}

.page.generic.presse .tab-content #pressebilder #pressebilder_rechenzentren section,
.page.generic.presse .tab-content #pressebilder #pressebilder_produkte section,
.page.generic.presse .tab-content #pressebilder #pressebilder_grafiken section {
  margin-left: -10px;
  *zoom: 1;
}

.page.generic.presse .tab-content #pressebilder #pressebilder_rechenzentren section:before,
.page.generic.presse .tab-content #pressebilder #pressebilder_produkte section:before,
.page.generic.presse .tab-content #pressebilder #pressebilder_grafiken section:before,
.page.generic.presse .tab-content #pressebilder #pressebilder_rechenzentren section:after,
.page.generic.presse .tab-content #pressebilder #pressebilder_produkte section:after,
.page.generic.presse .tab-content #pressebilder #pressebilder_grafiken section:after {
  display: table;
  line-height: 0;
  content: "";
}

.page.generic.presse .tab-content #pressebilder #pressebilder_rechenzentren section:after,
.page.generic.presse .tab-content #pressebilder #pressebilder_produkte section:after,
.page.generic.presse .tab-content #pressebilder #pressebilder_grafiken section:after {
  clear: both;
}

.page.generic.presse .tab-content #pressebilder #pressebilder_rechenzentren section img,
.page.generic.presse .tab-content #pressebilder #pressebilder_produkte section img,
.page.generic.presse .tab-content #pressebilder #pressebilder_grafiken section img {
  margin-bottom: 10px;
}

.page.generic.presse .tab-content #pressebilder #pressebilder_rechenzentren section a,
.page.generic.presse .tab-content #pressebilder #pressebilder_produkte section a,
.page.generic.presse .tab-content #pressebilder #pressebilder_grafiken section a {
  margin-bottom: 10px;
}

.page.generic.presse .tab-content #pressebilder #pressebilder_rechenzentren section:nth-child(n) section:nth-child(1),
.page.generic.presse .tab-content #pressebilder #pressebilder_produkte section:nth-child(n) section:nth-child(1),
.page.generic.presse .tab-content #pressebilder #pressebilder_grafiken section:nth-child(n) section:nth-child(1) {
  float: left;
  width: 305px;
  margin-left: 10px;
  margin-left: 5px;
}

.page.generic.presse .tab-content #pressebilder #pressebilder_rechenzentren section:nth-child(n) section:nth-child(2),
.page.generic.presse .tab-content #pressebilder #pressebilder_produkte section:nth-child(n) section:nth-child(2),
.page.generic.presse .tab-content #pressebilder #pressebilder_grafiken section:nth-child(n) section:nth-child(2) {
  float: left;
  width: 305px;
  margin-left: 10px;
}

.page.generic.presse .tab-content #pressebilder #pressebilder_rechenzentren section:nth-child(n) section:nth-child(3),
.page.generic.presse .tab-content #pressebilder #pressebilder_produkte section:nth-child(n) section:nth-child(3),
.page.generic.presse .tab-content #pressebilder #pressebilder_grafiken section:nth-child(n) section:nth-child(3) {
  float: left;
  width: 305px;
  margin-left: 10px;
}

.page.generic.presse .tab-content #pressebilder #pressebilder_management section {
  margin-left: -10px;
  *zoom: 1;
}

.page.generic.presse .tab-content #pressebilder #pressebilder_management section:before,
.page.generic.presse .tab-content #pressebilder #pressebilder_management section:after {
  display: table;
  line-height: 0;
  content: "";
}

.page.generic.presse .tab-content #pressebilder #pressebilder_management section:after {
  clear: both;
}

.page.generic.presse .tab-content #pressebilder #pressebilder_management section img {
  margin-bottom: 10px;
}

.page.generic.presse .tab-content #pressebilder #pressebilder_management section a {
  margin-bottom: 50px;
}

.page.generic.presse .tab-content #pressebilder #pressebilder_management section:nth-child(n) section:nth-child(1) {
  float: left;
  width: 465px;
  margin-left: 10px;
  margin-left: 5px;
}

.page.generic.presse .tab-content #pressebilder #pressebilder_management section:nth-child(n) section:nth-child(2) {
  float: left;
  width: 465px;
  margin-left: 10px;
}

.page.generic.presse .tab-content #pressekontakt section div.img + div {
  width: auto;
}

.page.generic.presse .tab-content #pressekontakt .head section:nth-child(1) {
  float: left;
  width: 440px;
  margin-left: 10px;
}

.page.generic.presse .tab-content #pressekontakt .head section:nth-child(2) {
  float: left;
  width: 440px;
  margin-left: 10px;
}

.page.generic.presse .tab-content #pressekontakt > section > section:nth-child(2) section:nth-child(1) {
  float: left;
  width: 440px;
  margin-left: 10px;
}

.page.generic.presse .tab-content #pressekontakt > section > section:nth-child(2) section:nth-child(2) {
  float: left;
  width: 440px;
  margin-left: 10px;
}

.page.generic.presse .tab-content #pressekontakt > section > section:nth-child(4) section:nth-child(1) {
  float: left;
  width: 440px;
  margin-left: 10px;
}

.page.generic.presse .tab-content #pressekontakt > section > section:nth-child(4) section:nth-child(2) {
  float: left;
  width: 440px;
  margin-left: 10px;
}

.page.generic.presse .tab-content #pressetexte .table tr:first-child th:first-child {
  width: 700px;
}

.page.generic.presse .tab-content #pressetexte .table tr:first-child th:nth-child(2) {
  width: 100px;
}

.page.generic.presse .pressmessage {
  float: left;
  width: 240px;
}

.page.generic.presse .pressemitteilung .box-content {
  float: left;
  width: 660px;
  margin-right: 10px;
}

.page.generic.presse .pressemitteilung .box-content span {
  float: right;
  font-weight: bold;
}

.page.generic.presse .pressemitteilung .box-content p {
  display: inline-block;
}

.page.generic.presse .pressemitteilung .box-content h3 {
  font-size: 20px;
}

.page.generic.company .box-content #impressum > section > section:nth-child(2) section:nth-child(1) {
  float: left;
  width: 440px;
  margin-left: 10px;
}

.page.generic.company .box-content #impressum > section > section:nth-child(2) section:nth-child(2) {
  float: left;
  width: 440px;
  margin-left: 10px;
}

.page.generic.company .box-content #impressum > section > section:nth-child(4) section:nth-child(1) {
  float: left;
  width: 440px;
  margin-left: 10px;
}

.page.generic.company .box-content #impressum > section > section:nth-child(4) section:nth-child(2) {
  float: left;
  width: 440px;
  margin-left: 10px;
}

/* custom stuff for Portal DE */

.page.landingpage.domaininterest.portal_de section.page_stage > a {
  display: block;
}

.page.landingpage.domaininterest.portal_de section.page_stage .testimonial div.teaser div.text h1 {
  letter-spacing: 2px;
}

.page.landingpage.domaininterest.portal_de section.page_stage .testimonial div.teaser ul.stoerer:before {
  font-family: stratoiconfont;
  background-image: none;
  content: "\e06a";
}

.page.landingpage {
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
}

.page.landingpage.domaininterest .testimonial h1 {
  font-family: "myriad-pro-condensed", sans-serif;
  font-size: 40px;
  font-weight: normal;
  color: #fff;
}

.page.landingpage.domaininterest .testimonial h4 {
  float: right;
  padding: 30px 0 0px;
  font-size: 40px;
  color: #fff;
}

.page.landingpage.domaininterest div#thankyou {
  height: 680px;
}

.page.landingpage.domaininterest div#thankyou div.modal-header {
  width: 790px !important;
  height: 240px;
  padding: 0 0 0 0 !important;
  margin: -10px 0 0 0 !important;
  background: url("../../images/stage_testimonial.jpg") no-repeat left 0 top 0px;
  background-size: 100%;
  border-top-left-radius: 4px;
}

.page.landingpage.domaininterest div#thankyou div.modal-body {
  height: 490px !important;
  padding: 10px 10px 0 10px !important;
}

.page.landingpage.domaininterest div#thankyou div.modal-body .wrapper {
  width: 370px;
  height: 150px;
  margin-left: 160px;
  overflow-y: scroll;
  border: 1px solid #eee;
}

.page.landingpage.domaininterest div#thankyou div.modal-body .wrapper ul {
  margin-left: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.page.landingpage.domaininterest div#thankyou div.modal-body .wrapper ul li {
  display: block;
  width: 350px;
  height: 20px;
  padding: 5px 4px 4px 4px;
  margin: 0;
  clear: both;
  list-style-type: none;
  background-color: #fefefe;
  border-bottom: 1px solid #eeeeee;
}

.page.landingpage.domaininterest div#thankyou div.modal-body .wrapper ul li:hover {
  background-color: #f6f6f6;
}

.page.landingpage.domaininterest div#thankyou div.modal-body .wrapper ul li:hover button {
  opacity: 1;
}

.page.landingpage.domaininterest div#thankyou div.modal-body .wrapper ul li + div.popover {
  width: auto !important;
  max-width: 1000px;
}

.page.landingpage.domaininterest div#thankyou div.modal-body .wrapper ul li + div.popover.left {
  margin-left: -10px !important;
}

.page.landingpage.domaininterest div#thankyou div.modal-body .wrapper ul li + div.popover.left > div.arrow {
  border-right-color: #a0cae7 !important;
  border-left-color: #a0cae7 !important;
}

.page.landingpage.domaininterest div#thankyou div.modal-body .wrapper ul li + div.popover div.popover-inner div.popover-content {
  width: auto !important;
  text-align: center;
}

.page.landingpage.domaininterest div#thankyou div.modal-body select.domainok {
  width: 500px;
  margin: 0 0 10px 140px !important;
  font-size: 13px;
  color: #111111;
  text-align: center;
}

.page.landingpage.domaininterest div#thankyou div.modal-body select.domainok option span.popover {
  z-index: 3000;
  width: auto !important;
  max-width: 1000px;
}

.page.landingpage.domaininterest div#thankyou div.modal-body select.domainok option span.popover.left {
  margin-left: -10px !important;
}

.page.landingpage.domaininterest div#thankyou div.modal-body select.domainok option span.popover.left > div.arrow {
  border-right-color: #a0cae7 !important;
  border-left-color: #a0cae7 !important;
}

.page.landingpage.domaininterest div#thankyou div.modal-body select.domainok option span.popover div.popover-inner div.popover-content {
  width: auto !important;
  text-align: center;
}

.page.landingpage.domaininterest div#thankyou div.modal-body div {
  clear: both;
}

.page.landingpage.domaininterest div#thankyou div.modal-body div.center {
  width: 790px !important;
  text-align: center;
}

/* DOMAININTEREST [  ]
============================================================ */
.page.landingpage.domaininterest select {
  float: left;
}

.page.landingpage.domaininterest section.alphabet {
  display: block;
  width: 510px;
  margin: -20px 0 0 0;
  clear: both;
  font-family: Arial;
  font-weight: 900;
  list-style-type: none;
}

.page.landingpage.domaininterest section.alphabet label:nth-child(2) {
  width: 50px;
}

.page.landingpage.domaininterest section.alphabet input[type=radio] {
  position: absolute;
  left: -9999px;
}

.page.landingpage.domaininterest section.alphabet label {
  float: left;
  width: 32px;
  height: 32px;
  padding: 0;
  margin: 0;
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: bold;
  line-height: 32px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  background-color: #cccccc;
  border-radius: 3px;
}

.page.landingpage.domaininterest section.alphabet label:hover {
  background-color: #666666;
}

.page.landingpage.domaininterest section.alphabet input[type=radio]:checked + label {
  background-color: #ff9900;
}

.page.landingpage.domaininterest .box-content.howto {
  height: 260px;
  margin: -15px 0 20px 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.page.landingpage.domaininterest .box-content.howto p {
  font-size: 12px;
}

.page.landingpage.domaininterest .box-content.howto ol {
  padding-left: 0;
  margin-top: 70px;
  margin-left: -20px;
  list-style: none;
  counter-reset: li;
}

.page.landingpage.domaininterest .box-content.howto ol > li {
  position: relative;
  padding: 4px 8px;
  margin: 8px 0 0 2em;
  list-style: none;
}

.page.landingpage.domaininterest .box-content.howto ol > li h3 {
  margin-top: -40px;
  margin-bottom: 20px;
  margin-left: 62px;
  font-size: 16px;
}

.page.landingpage.domaininterest .box-content.howto ol > li:before {
  position: absolute;
  top: -48px;
  left: 8px;
  display: inline-block;
  width: 48px;
  height: 48px;
  padding: 14px 4px 14px 4px;
  margin: 0 8px 0 0;
  font-family: 'stratoiconfont';
  font-size: 30px;
  font-style: normal;
  font-weight: bold;
  font-weight: normal;
  color: #fff;
  text-align: center;
  text-decoration: inherit;
  background-color: #ff9300;
  background-color: #aaaaaa;
  background-image: -moz-linear-gradient(top, #ff9c00, #ff8500);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff9c00), to(#ff8500));
  background-image: -webkit-linear-gradient(top, #ff9c00, #ff8500);
  background-image: -o-linear-gradient(top, #ff9c00, #ff8500);
  background-image: linear-gradient(to bottom, #ff9c00, #ff8500);
  background-repeat: repeat-x;
  border-radius: 8px;
  content: counter(li);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff9c00', endColorstr='#ffff8500', GradientType=0);
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  counter-increment: li;
}

.page.landingpage.domaininterest .box-content.howto ol > li:nth-child(1):before {
  content: "\e05c";
}

.page.landingpage.domaininterest .box-content.howto ol > li:nth-child(2):before {
  content: "\e063";
}

.page.landingpage.domaininterest .box-content.howto ol > li:nth-child(3):before {
  content: "\e006";
}

.page.landingpage.domaininterest .box-content.howto li ol,
.page.landingpage.domaininterest .box-content.howto li ul {
  margin-top: 6px;
}

.page.landingpage.domaininterest .box-content.howto ol ol li:last-child {
  margin-bottom: 0;
}

.page.landingpage.domaininterest .box-content.howto ol li {
  float: left;
  width: 290px;
  margin-left: 10px;
  clear: none;
}

.page.landingpage.domaininterest section.page_stage {
  margin-bottom: 10px;
}

.page.landingpage.domaininterest section.page_stage .testimonial {
  background: url("../../images/stage_testimonial.jpg") no-repeat left 0 top 0px;
}

.page.landingpage.domaininterest section.page_stage .testimonial div.teaser div.text {
  float: left;
  width: 590px;
  margin-left: 360px;
  color: #fff;
}

.page.landingpage.domaininterest section.page_stage .testimonial div.teaser div.text h1,
.page.landingpage.domaininterest section.page_stage .testimonial div.teaser div.text strong {
  color: #fff !important;
  text-align: right;
}

.page.landingpage.domaininterest section.page_stage .testimonial div.teaser .bullets {
  float: left;
  width: 490px;
  margin-left: 510px;
}

.page.landingpage.domaininterest section.page_stage .testimonial div.teaser .bullets li {
  color: #fff !important;
}

.page.landingpage.domaininterest section.page_stage .testimonial div.teaser ul.stoerer {
  float: left;
  width: 440px;
  margin-top: 10px;
  margin-left: 510px;
}

#prerushApp {
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
}

#prerushApp .accordion {
  margin-bottom: 20px;
  background: none;
}

#prerushApp .accordion-group {
  margin-bottom: 2px;
  background: none;
  border: 0;
}

#prerushApp .accordion-heading {
  border: 0;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

#prerushApp .accordion-heading a.accordion-toggle {
  display: block;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #FFFFFF;
  background-color: #005a8d;
  background-image: -moz-linear-gradient(top, #006497, #004a7f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#006497), to(#004a7f));
  background-image: -webkit-linear-gradient(top, #006497, #004a7f);
  background-image: -o-linear-gradient(top, #006497, #004a7f);
  background-image: linear-gradient(to bottom, #006497, #004a7f);
  background-repeat: repeat-x;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff006497', endColorstr='#ff004a7f', GradientType=0);
}

#prerushApp .accordion-heading a.accordion-toggle:hover {
  background-color: #00507e;
  background-image: -moz-linear-gradient(top, #005a88, #004170);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#005a88), to(#004170));
  background-image: -webkit-linear-gradient(top, #005a88, #004170);
  background-image: -o-linear-gradient(top, #005a88, #004170);
  background-image: linear-gradient(to bottom, #005a88, #004170);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff005a88', endColorstr='#ff004170', GradientType=0);
}

#prerushApp .accordion-heading a.accordion-toggle:hover:after {
  float: right;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Arial, Helvetica, sans-serif;
  font-size: 12px;
  content: 'Ein- / Ausklappen ▼▲';
}

#prerushApp .accordion-heading a.accordion-toggle:after {
  float: right;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Arial, Helvetica, sans-serif;
  font-size: 12px;
  content: '';
}

#prerushApp .accordion-heading a.accordion-toggle:before {
  display: none;
}

#prerushApp .accordion-heading .accordion-toggle {
  display: block;
  padding: 8px 15px;
}

#prerushApp .accordion-toggle {
  cursor: pointer;
}

#prerushApp .accordion-inner {
  padding: 9px 15px;
  margin: 0;
  background: none;
  border: 0;
}

#prerushApp .accordion-inner p {
  color: #333333;
}

#prerushApp .accordion-body {
  margin: 0;
  background: none;
}

#prerushApp div.container + div {
  height: 660px;
}

#prerushApp div.container div.row {
  height: 660px;
  clear: both;
}

#prerushApp .tab-pane {
  height: 400px;
}

#prerushApp .tab-content {
  height: 660px;
}

#prerushApp h4 {
  margin-bottom: 10px;
}

#prerushApp h4[class^="icon-"]:before,
#prerushApp h4[class*=" icon-"]:before {
  display: inline-block;
  font-family: 'stratoiconfont';
  font-style: normal;
  font-weight: normal;
  color: #999;
  text-decoration: inherit;
}

#prerushApp div.domainSelectTld {
  height: 550px;
  /*  input:hover {
            border-color: @stratoOrange;
            border-right: 1px solid #333333;

            + button {
                 border-color: @stratoOrange;
            }
         }
*/

}

#prerushApp div.domainSelectTld .singleDomain {
  height: 32px;
  padding: 3px 1px 2px 2px;
  margin: 0 0 1px 0;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

#prerushApp div.domainSelectTld .singleDomain:hover {
  background-color: #ff9900;
}

#prerushApp div.domainSelectTld #top100 .singleDomain,
#prerushApp div.domainSelectTld #top500 .singleDomain {
  padding: 3px 11px 2px 2px;
}

#prerushApp div.domainSelectTld input:disabled {
  background-color: #FFFFFF;
}

#prerushApp div.domainSelectTld input:disabled:hover {
  cursor: pointer;
}

#prerushApp div.domainSelectTld input.autofocus {
  padding: 8px;
  font-size: 18px;
  border: 2px solid #ff9900 !important;
}

#prerushApp div.domainSelectTld .btn:focus {
  outline: none;
}

#prerushApp div.domainSelectTld :focus,
#prerushApp div.domainSelectTld :active {
  outline: none;
}

#prerushApp div.domainSelectTld ::-moz-focus-inner {
  border: 0;
}

#prerushApp div.domainSelectTld .btn.btn-add {
  color: #333;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
  background-color: #eaeaea;
}

#prerushApp div.domainSelectTld .tab-pane {
  padding-right: -20px;
  padding-bottom: -20px;
  overflow-y: scroll;
}

#prerushApp div.domainSelectTld .btn i {
  float: right;
  padding: 4px 0 0px;
  margin-right: -8px;
  font-size: 15px;
}

#prerushApp div.domainSelectTld .btn span {
  float: left;
}

#prerushApp .singleDomain .odd {
  float: left;
}

#prerushApp .singleDomain .even {
  float: right;
}

#prerushApp .box-content {
  margin-top: 10px;
}

#prerushApp div.domainSelectTld button {
  width: 100px;
}

#prerushApp div.domainSelectTld #top100 button,
#prerushApp div.domainSelectTld #top500 button {
  width: 110px;
}

#prerushApp #domainNotepad {
  padding-bottom: 20px;
  margin-top: 20px;
}

#prerushApp #domainNotepad p {
  font-size: 12px;
}

#prerushApp #domainNotepad.submitted P {
  color: #FF0000;
}

#prerushApp #domainNotepad .wrapper {
  height: 600px;
  margin-left: -20px;
  overflow: none scroll;
}

#prerushApp #domainNotepad table#custDomainTable p {
  float: left;
  padding: 4px 0 0px;
  margin-top: 3px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
}

#prerushApp #domainNotepad ul {
  width: 370px;
  height: 590px;
  margin: -8px 0 0 10px;
  overflow-x: hidden;
  overflow-y: auto;
}

#prerushApp #domainNotepad ul li {
  display: block;
  width: 350px;
  height: 20px;
  padding: 8px 0 8px 4px;
  margin: 0;
  clear: both;
  list-style-type: none;
  background-color: #fefefe;
  border-bottom: 1px solid #eeeeee;
}

#prerushApp #domainNotepad ul li + div.popover {
  width: auto !important;
  max-width: 1000px;
}

#prerushApp #domainNotepad ul li + div.popover.left {
  margin-left: -10px !important;
}

#prerushApp #domainNotepad ul li + div.popover.left > div.arrow {
  border-right-color: #a0cae7 !important;
  border-left-color: #a0cae7 !important;
}

#prerushApp #domainNotepad ul li + div.popover div.popover-inner div.popover-content {
  width: auto !important;
  text-align: center;
}

#prerushApp #domainNotepad ul li button {
  float: right;
  width: 22px;
  height: 22px;
  padding: 0;
  margin: -2px 14px 0 0px;
  font-family: "myriad-pro";
  font-size: 11px;
  opacity: 0;
}

#prerushApp #domainNotepad ul li button.basket_domain {
  width: 300px;
  background: none;
  border: 0;
  opacity: 1;
}

#prerushApp #domainNotepad ul li:hover {
  background-color: #f6f6f6;
}

#prerushApp #domainNotepad ul li:hover button {
  opacity: 1;
}

#prerushApp #domainNotepad table#custDomainTable td {
  height: 10px;
  padding: 0 4px;
}

#prerushApp #domainNotepad .box-content .table {
  margin-bottom: -1px;
  border: 0;
}

#prerushApp #custForm {
  height: 230px;
}

#prerushApp #custForm #custNr {
  width: 140px;
}

#prerushApp .form-section .custom-error {
  margin-top: -2px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: #f00;
}

#prerushApp #MailForm {
  border: 0;
}

#prerushApp #MailForm #custEmail {
  clear: both;
}

#prerushApp #MailForm div.custom-error {
  display: inline;
  float: left;
  padding: 1px 4px 1px 4px;
  margin-left: 4px;
  clear: both;
  color: #333;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

#prerushApp #MailForm input {
  margin-bottom: 2px;
}

#prerushApp #MailForm button {
  position: absolute;
  bottom: 20px;
  background: none;
  background-color: #0073b5;
}

#prerushApp #MailForm span.ok,
#prerushApp #MailForm span.ko {
  float: right;
  margin-top: -12px;
  font-size: 36px;
}

#prerushApp #MailForm .ng-pristine {
  /* border: 1px solid Gold;*/

}

#prerushApp #MailForm div.ng-invalid {
  border: 1px solid Red;
}

#prerushApp #MailForm div.ng-dirty.ng-valid {
  border: 1px solid Green;
}

#prerushApp #MailForm div.ng-dirty.ng-invalid {
  border: 1px solid Red;
}

#prerushApp #MailForm div.ng-dirty.ng-valid ~ span.ok {
  display: inline;
  color: green;
}

#prerushApp #MailForm div.ng-dirty.ng-invalid ~ span.ko {
  display: inline;
  color: red;
}

#prerushApp #MailForm.submitted div.custom-error {
  display: inline;
  float: left;
  clear: both;
  color: #FF0000;
  background-color: rgba(255, 0, 0, 0.1);
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-border-top-right-radius: 0;
          border-top-right-radius: 0;
  -webkit-border-top-left-radius: 0;
          border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-topleft: 0;
}

#prerushApp #MailF {
  margin-top: 61px;
}

#prerushApp #MailF p.message {
  position: absolute;
  bottom: 55px;
  padding-left: 10px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Arial, Helvetica, sans-serif;
  font-size: 13px;
}

#prerushApp #MailF p.message:before {
  margin-right: 10px;
}

#prerushApp hr {
  margin: 2px 0 2px 4px;
}